Welcome to Famick Home Management

Hi {{UserName}},

An account has been created for you. Here are your login credentials:

Email: {{Email}}
Temporary Password: {{TemporaryPassword}}

Login here: {{LoginUrl}}

Please change your password after your first login.

If you did not expect this email, please contact your administrator.
