# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
**/bin/*
**/obj/*

# macOS
.DS_Store

# NuGet Packages
*.nupkg
.nuget/
packages/

# Test Results
TestResults/
*.trx
*.coverage

*.pem
*.p12
*.p8
*.cer

# Terraform secrets
**/secrets.tfvars

# Other stuff
**/logs/*
