{{Title}}

{{Summary}}
{{#HasExpired}}

ALREADY EXPIRED
{{#ExpiredItems}}
  {{ProductName}}
    Best before {{ExpiryDate}} - {{LocationName}}
{{/ExpiredItems}}
{{/HasExpired}}
{{#HasExpiringSoon}}

EXPIRING SOON
{{#ExpiringSoonItems}}
  {{ProductName}}
    Best before {{ExpiryDate}} - {{LocationName}}
{{/ExpiringSoonItems}}
{{/HasExpiringSoon}}
