DAILY TASK SUMMARY

You have {{TotalTasks}} pending task(s):
{{#HasTodos}}  - {{IncompleteTodos}} incomplete todo(s)
{{/HasTodos}}{{#HasChores}}  - {{OverdueChores}} overdue chore(s)
{{/HasChores}}{{#HasMaintenance}}  - {{OverdueMaintenance}} overdue vehicle maintenance item(s)
{{/HasMaintenance}}
